<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="background banner">
<header class="container" id="header">
  <img src="./assets/logo 3000 x 2101 vermelho D80100.png" alt="Logo ND" />

  <nav class="navigation">
    <ul>
      <li>
      <a>SOBRE</a>
      </li>
      <li>
        <a>PLANOS</a>
      </li>
      <li>
        <a>DEPOIMENTOS</a>
      </li>
      <li>
        <a>AULA EXPERIMENTAL</a>
      </li>
    </ul>
  </nav>

  <div class="icones">
    <a href="https://www.facebook.com/natural.done" class="square-icons fa fa-facebook"></a>
    <a href="https://www.instagram.com/natural.done" class="square-icons fa fa-instagram"></a>
  </div>
</header>
</div>
