<div class="background banner">
<header class="container" id="header">
  <img src="logo.png" alt="Logo SOS" />

  <nav class="navigation">
    <ul>
      <li>
      <a href="">MAIN</a>
      </li>
      <li>
        <a href="#section-about">about</a>
      </li>
      <li>
        <a href="#section-features">game features</a>
      </li>
      <li>
        <a href="#section-system-requirements">System requirements</a>
      </li>
      <li>
        <a href="#section-quotes">quotes</a>
      </li>
    </ul>
  </nav>

  <div>
    <a href="/">
      <img src="/icons/xbox.svg" alt="" />
    </a>
    <a href="/">
      <img src="/icons/steam.svg" alt="" />
    </a>
  </div>
</header>
</div>
