<div>
<form class="formulario">
  <h2 class="formulario__titulo">Coloque seus dados abaixo</h2>

  <div class="form-field">
    <label class="form-field_label" for="nome">Nome</label>
    <input class="form-field_input" id="nome" type="text">
  </div>

  <div class="form-field">
    <label class="form-field_label" for="whatsapp">Whatsapp</label>
    <input class="form-field_input" id="whatsapp" type="text">
  </div>

  <div class="botao">
    <button class="botao-wrapper">Enviar</button>
  </div>
</form>
</div>
